package etcdproxy

import "time"

//Option 设置key行为的选项
//@attribute MaxTTL time.Duration 为0则不设置过期
//@attribute AutoRefresh string 需要为crontab格式的字符串,否则不会自动定时刷新
type Options struct {
	QueryTimeout time.Duration
}

// Option configures how we set up the connection.
type Option interface {
	Apply(*Options)
}

// func (emptyOption) apply(*Options) {}
type funcOption struct {
	f func(*Options)
}

func (fo *funcOption) Apply(do *Options) {
	fo.f(do)
}

func newFuncOption(f func(*Options)) *funcOption {
	return &funcOption{
		f: f,
	}
}

//WithQueryTimeout 设置最大过期时间
func WithQueryTimeout(timeout time.Duration) Option {
	return newFuncOption(func(o *Options) {
		o.QueryTimeout = timeout
	})
}
